[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-html = "*"
"e1839a8" = {path = ".", editable = true}
crayons = "*"

[dev-packages]

[requires]
python_version = "3.6"
